.navbar-brand{
    width: 100px;
  }

  .navbar{
    border-radius: 0px 0px 10px 10px;
  }

  .container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container-fluid .d-block{
    display: flex;
    margin-left: auto;
  }

  .navbar-toggler{
    margin-left: 10px;
  }
