@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import "reset.css";
@import "images.css";
@import "login_box.css";
@import "btn.css";
@import "text_box";
@import "nav.css";
@import "signin.css";

*{
  font-family: 'Nanum Gothic', sans-serif;
}

html body {
  background-color: #FEECB7;
}

@media screen and (max-width: 900px) {
  .logo_gif{
    display: none;
  }
}
