@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

*{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  border: 0;
}
#logo_gif{
  display: inline-block;
  position: relative;
  top: 200px;
  left: 20%;
  width: 400px;
}

#logo_text{
display: inline-block;
position: absolute;
float: right;
top: 200px;
right: 20%;
width: 500px;
}

.login-Box__wrapper{
  display:  inline-block;
  position: relative;
  float: right;
  top: -150px;
  right: 20%;
  background: white;
  box-Shadow: 0px 0px 5px lightgrey;
  border-Radius: 10px;
  width: 500px;
  height: 350px;
  text-align: center;
  }

#header{
  margin: 30px auto;
}

#id{
  display: block;
border: 2px black solid;
border-radius: 10px;
 margin:5px auto;
  width: 300px;
  height: 40px;
}
#password{
  display: block;
  border: 2px black solid;
  border-radius: 10px;
  margin:5px auto;
  width: 300px;
  height: 40px;
}

#textlogo {
  text-align: center;
}

#textlogo > span{
  font-family: 'Raleway', sans-serif ; 
  font-size: 40px;
  letter-spacing : -3.5px;
}

html, body {margin: 0px; padding: 0px;}


.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

#remember_check{
  display: block;
  margin: 10px auto;
}

#signin{
  display: inline-block;
  color: #fff;
  font-size: 17px;
  background-color: #604ABD;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 15px auto;
}
#signin:hover{
background-color: white;
color: black;
}

#login{
display: inline-block;
background-color: #F5DF4D;
color : black;
font-size: 17px;
height: 50px;
width: 100px;
border-radius: 10px;

}
#login:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width: 1550px) {
  #logo_gif{
    display: none;
  }
  .login-Box__wrapper{
    display:  inline-block;
    position: relative;
    float: right;
    top: 400px;
    right: 20%;
    background: white;
    box-Shadow: 0px 0px 5px lightgrey;
    border-Radius: 10px;
    width: 500px;
    height: 350px;
    text-align: center;
    }
}


.write-Container {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  height: 300px;
  
}

.textarea{
  margin: auto;
  resize: none;
  width: 100%;
}

.navbar-brand{
  width: 100px;
}
.bi bi-send-fill{
  text-align: le;
}

.view #view_check{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  height: 300px;
}

#sec{
  margin-top: 300px;
  padding-top: 10%;
  padding-left: 30%;
  margin: auto;
  text-align: center;
}