.section .logo_gif{
    display: flex;
}



.container .section1{
    display: flex;
}



.container, .container2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
