@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.container .section2{
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.section2 .logo_text{
    display: flex;
    width: 500px;
    margin-bottom: 50px;
}

.section2 .login-Box__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    height: 300px;
    box-Shadow: 0px 0px 5px lightgrey;
}

.header{
    font-family: 'Raleway', sans-serif ; 
    font-size: 20px;
    color: #000;
    margin:10px 0px;
}

#login{
    text-align: center;
}

#login-form .login_id, .login_pw{
    margin: 5px 0px;
    border: none;
    height: 50px;
    font-size: 18px;
    width: 300px;
    border-radius: 10px;
    box-Shadow: 0px 0px 5px lightgrey;
    padding-left: 20px;
}

