<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community City</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Style.css">


    <!-- 우클릭 방지-->
    <script type="text/javascript">
        document.oncontextmenu = function(){return false;}
    </script>

</head>
<body class="container">
<!--왼쪽 로고-->
<section class="section1">
    <img class="logo_gif" src="/images/logoback.gif">
</section>


<!--오른쪽 로고와 로그인 박스-->
<div class="section2" >
     <img class="logo_text" src="/images/logotext.png">
    <div class="login-Box__wrapper">

        <h2 class="header">"우리들의 IT 커뮤니티"</h2>

        <div class="btn">
            <a href="/login"><button class="login_btn" id="login" >Login</button></a>
            <a href="/signup"><button class="signup_btn" id="signup-btn">Sign Up</button></a>
        </div>
    </div>
</div>
</body>
</html>